/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, form {
  margin: 0;
  padding: 0;
}

/* Estilos de fundo para o corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Estilos do formulário */
form {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 50px;
  width: 500px;
  text-align: center;
  
}

/* Estilos para o cabeçalho (h1) */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para etiquetas */
span {
  display: block;
  font-weight: bold;
  text-align: left;
  margin: 10px 0;
}

/* Estilos para campos de entrada de texto */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para o botão de envio */
button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
