header{
    border-bottom: solid silver;
}

/* Estilo do contêiner do menu principal */
.menu_principal {
    background-color: #ffffff50; /* Cor de fundo escura */
    padding: 10px; /* Espaçamento interno */
    display: flex; /* Usando flexbox para alinhar itens horizontalmente */
    justify-content: 5%; /* Espaçamento uniforme entre os links */
    align-items: center; /* Centraliza verticalmente os links */
    height: 0px;
  }

  #menu{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    
  }


  #usuario{
    color: rgb(202, 21, 8);
    display: block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    height: 20px;
  }

 
  /* Estilo dos links do menu */
  .menu_principal a {
    color: #000000; /* Cor do texto branca */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    margin: 0 10px; /* Espaçamento horizontal entre os links */
    font-size: 16px; /* Tamanho da fonte */
    transition: color 0.3s; /* Transição de cor suave */
    background-color: #d8d8d8;
    padding: 0.80%;
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 5%;
  }
  
  /* Estilização ao passar o mouse sobre os links */
  .menu_principal a:hover {
    color: #29a111; /* Cor de destaque ao passar o mouse (laranja, por exemplo) */
    
  }
 

  .logo{
    width: 80px;
    height: 80px;
    margin-right: 2%;
  }

  .logosectio{
    display: flex;
    margin: 1%;
  }
  

.icones{
  width: 50px;
}

